ul{
  list-style-type: none;
  background-color: black;
  margin : 0px;
  padding : 14px 16px;
  overflow: hidden;
  width:100%;
  position: fixed;
  top:0px;
  z-index: 1000;
  
}
.brand>a:hover{
  color:#fff;
  text-decoration: none;
}
li a:hover{
  color:blue;
  text-decoration: none;
}
li a{
  float:left;
  text-decoration: none;
  display:block;
  color:#fff;
  padding : 15px 16px;
  text-align: center;
  font-size: 20px;
  
}
li a.active{
 color:blue;
}
li form input{
  
  font-size: 18px;
   
  
   border: none;
   text-align: center;
   padding : 5px;
   margin-top: 14px;
  
}
.brand>a{

  margin-top: -3px;
  text-transform: uppercase;
  font-size: 23px;
  color: #fff;
  font-weight: bold;
  font-family: cursive;
}
li form{
  float:right;
}
li form button{
  float: right;
  margin-right: 40px;
  padding: 5px 7px ;
  margin-top: 14px;
  cursor: pointer;
  border: none;
  font-size: 18px;
  color:blue;
}

#bg{
    background-color:white;
    margin-top: 100px;
}
figure img {
display: block;
margin-left: auto;
margin-right: auto;
width: 50%;
}

table {
      border-collapse: separate;
      border-spacing: 100px 0;
    }

td
{
    padding:0 30px;
}
.edit {
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #1e90ff;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
  margin-left: 40px;
  margin-right: 18px;
  width :auto;
}

.edit:hover {background-color: #70a1ff}

.edit:active {
  background-color: #3742fa;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.ex1{
  margin-left: 10px;
}


  .figure {
    border: 1px #cccccc solid;
    padding: 4px;
    margin: auto;
  }
  .alignleft {
  float: left;
}

.alignright {
  float: right;
}
.aligncentre {
  float: center;
}

  .figcaption {
    background-color: black;
    color: white;
    font-style: arial;
    padding: 2px;
    text-align: center;
  }
  .btn {
  background-color: DodgerBlue;
  border: none;
  display : inline-block; /* Blue background */
  border-radius: 12px;
  text-align :center;
  text-decoration :none;/* Remove borders */
  color: white; /* White text */
  padding: 12px 16px; /* Some padding */
  font-size: 16px; /* Set a font size */
  cursor: pointer; /* Mouse pointer on hover */
}

/* Darker background on mouse-over */
.btn:hover {
  background-color: RoyalBlue;
}
.profile
{
    min-height: 355px;
    display: inline-block;
    }
.divider
{
    border-top:1px solid rgba(0,0,0,0.1);
    }
.emphasis
{
    border-top: 4px solid transparent;
    }
.emphasis:hover
{
    border-top: 4px solid #1abc9c;
    }
.emphasis h2
{
    margin-bottom:0;
    }
span.tags
{
    background:#9980FA;
    border-radius: 2px;
    color: #f5f5f5;
    font-weight: bold;
    padding: 2px 4px;
    }
.dropdown-menu
{
    background-color:#9980FA;
    box-shadow: none;
    -webkit-box-shadow: none;
    width: 250px;
    margin-left: -125px;
    left: 50%;
    }
.dropdown-menu .divider
{
    background:none;
    }
.dropdown-menu>li>a
{
    color:#f5f5f5;
    }
.dropup .dropdown-menu
{
    margin-bottom:10px;
    }
.dropup .dropdown-menu:before
{
    content: "";
    border-top: 10px solid #34495e;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    position: absolute;
    bottom: -10px;
    left: 50%;
    margin-left: -10px;
    z-index: 10;
    }
    .ex1{
      margin-left: 8px;
      margin-top: 20px;
    }
    .container1{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      width: 700px;
      padding : 20px 70px;
      margin-top: 30px;
      margin-left:21%;
      
      
   }
   .container1 .card {
     position:relative;
     box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
     padding : 25px;
     display:flex;
     flex-direction: column;
     align-items: center;
     margin-bottom:15px;
     
     
   }
   .header{
     margin-left: -400px;
     margin-bottom: 10px;
      display : flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
   }
   
   .header p{
     margin-left: 10px;
     font-size: 20px;
     color : black;
   }
   .avatar {
     vertical-align: middle;
     width: 50px;
     height: 50px;
     border-radius: 50%;
     margin-bottom: 10px;
   }
   .container1 .card .imgContainer{
       
       width: 100%;
       margin-bottom: 10px;
   }
   .container1 .card .imgContainer>img{
     width: 500px;
   }
     
      .figure {
        border: 1px #cccccc solid;
        padding: 4px;
        margin: auto;
      }
      .alignleft {
      float: left;
    }

    .alignright {
      float: right;
    }
    .aligncentre {
      float: center;
    }

      .figcaption {
        background-color: black;
        color: white;
        font-style: arial;
        padding: 2px;
        text-align: center;
      }
      .btn {
      background-color: DodgerBlue;
      border: none;
      display : inline-block; /* Blue background */
      border-radius: 12px;
      text-align :center;
      text-decoration :none;/* Remove borders */
      color: white; /* White text */
      padding: 12px 16px; /* Some padding */
      font-size: 16px; /* Set a font size */
      cursor: pointer; /* Mouse pointer on hover */
    }

    /* Darker background on mouse-over */
    .btn:hover {
      background-color: RoyalBlue;
    }
    .profile
    {
        min-height: 355px;
        display: inline-block;
        }
    .divider
    {
        border-top:1px solid rgba(0,0,0,0.1);
        }
    .emphasis
    {
        border-top: 4px solid transparent;
        }
    .emphasis:hover
    {
        border-top: 4px solid #1abc9c;
        }
    .emphasis h2
    {
        margin-bottom:0;
        }
    span.tags
    {
        background:#9980FA;
        border-radius: 2px;
        color: #f5f5f5;
        font-weight: bold;
        padding: 2px 4px;
        }
    .dropdown-menu
    {
        background-color:#9980FA;
        box-shadow: none;
        -webkit-box-shadow: none;
        width: 250px;
        margin-left: -125px;
        left: 50%;
        }
    .dropdown-menu .divider
    {
        background:none;
        }
    .dropdown-menu>li>a
    {
        color:#f5f5f5;
        }
    .dropup .dropdown-menu
    {
        margin-bottom:10px;
        }
    .dropup .dropdown-menu:before
    {
        content: "";
        border-top: 10px solid #34495e;
        border-right: 10px solid transparent;
        border-left: 10px solid transparent;
        position: absolute;
        bottom: -10px;
        left: 50%;
        margin-left: -10px;
        z-index: 10;
      }
     
      .left {
  width: 25%;
}
.column{
   
  margin-left: 5px;
}
     .right {
  width: 25%;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
.row{
  padding-left: 20px;
}



    /* Clear floats after image containers */
